@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  color: white;
  background-color: black;
  overflow: hidden;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.75);
  touch-action: manipulation;
  user-select: none;
}

#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}

#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#end button {
  background-color: red;
  padding: 25px 70px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 15px;
  color: white;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease;
}
#end button:active {
  transform: translateY(4px);
}

#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#controlls div {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 40px;
}

#controlls button {
  width: 120px;
  height: 120px;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease, background-color 0.2s ease;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}

#controlls button:active {
  transform: translateY(4px);
  background-color: #ddd;
}

#controlls svg {
  width: 60px;
  height: 60px;
  fill: black;
}
