body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f8ff; /* AliceBlue */
    margin: 0;
    color: #333;
}

canvas {
    border: 2px solid #000;
    background-color: #70c5ce; /* Classic sky blue */
}

p {
    margin: 5px 0;
}
